body {
	font-family: 'Open Sans','segoe ui';
}
.print_text {
	font-family: Roboto Mono;
}

.hr-text {
	border-top: 1px dashed #8c8b8b;
}

.tree{
	list-style: none;
	padding-left: 20px;
	position: relative;
	font-family: 'Roboto Mono';
	font-weight: bold;
}
.tree-blue {
	color: #75C489;

}
.tree-green {
	color: #FD5C63;
}
.tree:before{ 
	content: '';
	width: 1px;
	background: #1b335f;
	top: 0;
	bottom:7px;
	left:0;
	position: absolute;
}
.tree li{ 
	position: relative;
	margin-top:10px;
}
.tree-blue li:hover, .tree li:focus{
	color: #AECE82;
	cursor: pointer;
} 
.tree-green li:hover, .tree li:focus{
	color: #EA3E23;
	cursor: pointer;
} 
.tree li:before{ 
	content: '';
	width: 20px;
	height: 1px;
	background: #1b335f;
	top: 12px;
	left:-20px;
	position: absolute;
}
.tree .tree{display: none;}
